.header {

  // Hamburger open style


  &.open {


    .header__menu {
    > span:first-child {
      transform: rotate(45deg);
    }

    > span:nth-child(2) {
      opacity:0;
    }

    > span:last-child {
      transform: rotate(-45deg);
    }
  }

  .overlay {
    position: fixed;
    top: 3.75rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    background-image: linear-gradient($darkBlue, transparent);

    &.fade-in{
      display: block;
    };

    &.fade-out {
      display: none;
    };
   }  
   }



       nav {
        padding: 1.0625rem 1.5rem;
        //background-color: $veryLightGray;
      }

    &__logo {

      img { 
        width: 8.8125rem;
        height: 1.375rem;

      }

    }
     &__menu { //mobile
       > span {
          display: block;
          width: 1.625rem;
          height: 0.125rem;
          background-color: $darkBlue;
          transition: all 300ms ease-in-out;
          transform-origin: 3.1px 0.8px;

          &:not(:last-child){
             margin-bottom: 0.3125rem;
          }
       }     
      }

     &__links {
        
        border: 0.0625rem;
        a {
   
          font-size: $font-sml;
          color: $grayishBlue;
          transition: color 300ms ease-in-out;
          position: relative;

          &:not(last-child){
          margin-right: 2rem;
          }

          &::before {
          
          content: "";
          display: block;
          background: linear-gradient(to right, $limeGreen, $brightCyan );
          width: 100%;
          position: absolute;
          height: 0.3125rem;
          left: 0;
          right: 0;
          bottom: -1.875rem;
          opacity: 0;
          transition: opacity 300ms ease-in-out;

          }
        

          &:hover {
            color: $darkBlue;

            &::before {
              
              opacity: 1;
            }
          }
          }

        a::before {


          }
        }

        &__cta {
            color: $white;
            font-size: $font-med;
            opacity: 1;
            transition: opacity 300ms ease-in-out;

            &:hover {
              opacity: 0.60;
            }
        }   
}
