//colors

//primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: rgb(50, 205, 50);
$brightCyan: rgb(43, 183, 218);

// neutral

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//font sizes

$font-sml:0.875rem;    //14px
$font-med:1.125rem;    //18px
